<ion-content>
    <ion-card *ngIf="product">
        <button class="dismiss-button" ion-button (click)="dismiss()">
            <ion-icon name="close"></ion-icon>
        </button>
    
        <img class="product-img" app-anim-on-load [src]="'http://34.248.114.48\:3000/' + product.images[0]">

        <ion-item class="product-name">
            <h2>{{product.name}}</h2>
            <p>{{product.brand.name}}</p>
         </ion-item>

        <button class="add-button" ion-button (click)="addProduct()">
            <ion-icon name="add-circle"></ion-icon>
        </button>

        <ion-row class="product-price">
            <ion-col>
                <button ion-button icon-left clear small>
                    <ion-icon name="pricetag" *ngIf="product.price > 0"></ion-icon>
                    <div>{{product.price > 0 ? product.price + '€' : ""}}</div>
                </button>
            </ion-col>
        </ion-row>

        <ion-card-content class="product-description">
            <h2>Description</h2>
            <p>{{product.description}}</p>
        </ion-card-content>

        <ion-item *ngIf="product.more" class="product-more">
            <h2>Contenu additionnel</h2>
        </ion-item>

        <ion-slides *ngIf="product.more" effect="coverflow" centeredSlides="true" spaceBetween="20" slidesPerView="2">
            <ion-slide *ngFor="let item of product.more">
                <ion-card *ngIf="item.video" class="card-video">
                    <iframe [src]="item.video | safeUrl" width="100%" frameborder="0" allowfullscreen></iframe>
                </ion-card>
                <ion-card *ngIf="item.recette" (click)="openUrl(item.recette)">
                    <img app-anim-on-load [src]="'assets/imgs/recette.png'">
                </ion-card>
                <ion-card *ngIf="item.conseil" (click)="openUrl(item.conseil)">
                    <img app-anim-on-load [src]="'assets/imgs/conseils.png'">
                </ion-card>
                <ion-card *ngIf="item.ooshop" (click)="openUrl(item.ooshop)">
                    <img app-anim-on-load [src]="'assets/imgs/ooshop.png'">
                </ion-card>
            </ion-slide>
        </ion-slides>
    </ion-card>
</ion-content>