<ion-menu [content]="content" [side]="'right'">
  <ion-header>
    <ion-toolbar>
      <ion-title>Ma liste</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
  	<ion-list *ngIf="productsList">
	  <ion-item *ngFor="let product of productsList">
	    <ion-thumbnail item-start (click)="openUrl(product)">
	      <img app-anim-on-load [src]="'http://34.248.114.48\:3000/' + product.images[0]">
	    </ion-thumbnail>
	    <h2 (click)="openUrl(product)">{{product.brand.name}}</h2>
	    <p (click)="openUrl(product)">{{product.name}}</p>
	    <button ion-button clear item-end icon-only (click)="removeProductFromList(product)">
	    	<ion-icon name="close"></ion-icon>
	    </button>
	  </ion-item>
	</ion-list>
  	
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>